// :host {
//   margin: 2px;
//   border: 1px solid black;
//   border-radius: 5px;
//   display: block;
// }

:host{
  margin: 4px;
  border:1px solid rgb(255, 255, 255);
  border-radius: 10px;
  display: block;
  
}
img{
  max-width: 100%;
  overflow:hidden;
}

img:hover{
  -webkit-transform:scale(0.9);transform:scale(0.9);
  transition: transform .5s;
}
